<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %}</title>
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
        {% endblock head_meta %}
    </head>
    <body>
        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
        {# The Footer #}
    </body>
</html>    